<div class="card">
    <div class="card__header">
        <h1 class="card__title">Team Purple</h1>
        <h2 class="card__assist">Assistant: Reşat</h2>
    </div>
    <div class="card__body -body-color -active">
        <ul class="card__list">
            <li class="card__item">İlkay Çitak</li>
            <li class="card__item">İlkay Çitak</li>
            <li class="card__item">İlkay Çitak</li>
            <li class="card__item">İlkay Çitak</li>
            <li class="card__item">İlkay Çitak</li>
            <li class="card__item">İlkay Çitak</li>
            <li class="card__item">İlkay Çitak</li>
        </ul>
    </div>
</div>